@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.navbar-brand {
    font-family: "Alfa Slab One", serif;
    /*
    background: #224C98;
    
    background: linear-gradient(0deg, rgba(34,76,152,1) 0%, rgba(45,206,253,1) 100%);
    */
    padding: 2rem;
    border-radius: 2rem;
}

.nav-signup-btn {
    background-color: transparent;
}

.navbar-style {
    border-bottom: gray;
    border-bottom: 1px;
}

.no-arrow-dropdown .dropdown-toggle::after {
    display: none !important;
  }