@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.nav-brand-style{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    transition: color 0.3s ease;
}

.nav-brand-style:hover{
    color: hsl(49, 100%, 39%);
}

.nav-font {
    font-family: 'Poppins', sans-serif;
}

.no-arrow-dropdown .dropdown-toggle::after {
    display: none !important;
  }